<div class="container">
    <div class="upper-wrapper">
        <div class="col-sm-5 ">
            <input type="text" class="form-control" id="search-bar" placeholder="Search..." [(ngModel)]="filter">
        </div>
        <div>
            <button class="btn btn-secondary" id="searchbtn" (click)="search()">Search</button>
            <button class="btn btn-secondary" id="clearbtn" (click)="clear()">Clear</button>
            <button class="btn btn-success" id="addbtn" [routerLink]="['/addDeptData']">ADD</button>
        </div>
    </div>
    <table class="table table-bordered table-hover table-striped" id="dept-table">
        <thead class="table-dark" >
            <tr>
                <th [hidden]="true">DEPARTMENT ID &nbsp;<fa-icon [icon]="sortIcon"></fa-icon></th>
                <th (click)="sort('name')">DEPARTMENT NAME &nbsp;<fa-icon [icon]="sortIcon"></fa-icon></th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody id="tbody" *ngFor="let dept of deptData">
            <tr>
                <td [hidden]="true">{{dept.id}}</td>
                <td>{{dept.name}}</td>
                <td><button class="btn btn-warning" (click)="onEdit(dept)">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(dept, 'deptArray')">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example" *ngIf="deptData.length > 0">
        <ul class="pagination justify-content-center">
            <li class="page-item  first" (click)="first('currPageDept')"><a class="page-link"><fa-icon [icon]="doubleArrowLeft"></fa-icon> &nbsp;First</a></li>
            <li class="page-item" (click)="prev('currPageDept')"><a class="page-link"><fa-icon [icon]="singleArrowLeft"></fa-icon> &nbsp;Previous</a></li>
            <li class="page-item" (click)="next('currPageDept')"><a class="page-link">Next &nbsp;<fa-icon [icon]="singleArrowRight"></fa-icon></a></li>
            <li class="page-item last" (click)="last('currPageDept')"><a class="page-link">Last &nbsp;<fa-icon [icon]="doubleArrowRight"></fa-icon></a></li>
        </ul> 
    </nav>

    <div class="pageInfo" *ngIf="deptData.length > 0">
        <p>Showing {{page}} of {{totalPages}} pages</p>
    </div>

    <div class="pageInfo" *ngIf="deptData.length == 0">
        <p>Data not found!</p>
    </div>

</div>
