<div class="container">
    <div class="col-md-12 p-5 mb-4 text-light bg-dark rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Welcome To Exercise Two</h1>
          <p class="col-md-8 fs-4">In this project I have implemented various angular concepts like routing components, directives(all three), with various imports and tried to build tables with various features like add edit delete search sort along with pagination.</p>
          <button class="btn btn-primary btn-lg" type="button" [routerLink]="['/employee']">Go To Employee</button>
          <button class="btn btn-primary btn-lg dept" type="button" [routerLink]="['/department']">Go To Department</button>
        </div>
    </div>
</div>