.dept-form .row{
    color: #fff;
    padding-top: 2px;
}

.dept-form button{
    margin-top: 10px;
    width: 100%;
}
/* .dept-form #backbtn{
    
} */
.container{
    margin-top: 150px;
    padding: 10px;
    background-color: #2d3436;
    max-width: 900px;
}